{% extends 'layout.html.twig' %}

{% block title %}Carrito {% endblock %}

{% block body %}

<meta charset="UTF-8" />

 <!--NOMBRE DE LA PÃGINA -->
<div class = "nombre">
<ul>
   <li><span class ="fa fa-shopping-cart"></span>Mi cesta de la compra</li>
</ul>
</div>  


<div class = "col-md-12" id = "const">
<center><img src = "{{ asset('img/enconstruccion.jpg') }}" alt = "" ></center>
</div>

{% endblock %}